@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 16px;
    font-family: 'Acme', sans-serif;
}

.container {
    height: 90vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    flex-flow: column;
    align-items: center;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    margin: 10px;
    height: 22px;
    width: 22px;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.4s ease-out;
    outline: none;
    border-radius: 4px;
}

.btn:hover {
    background-color: rgb(233, 233, 233);
}

.title {
    padding-top: 16px;
    margin-left: 6px;
    border-bottom: 4px solid rgb(123, 60, 160);
}

.content {
    overflow-y: scroll;
    width: 100%;
    flex-grow: 1;
    position: relative;
}

.updateBtn {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 3px;
    border: 1px solid rgb(123, 60, 160);
    border-radius: 3px;
}

.backBtn {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;
    text-decoration: none;
}

.item {
    display: flex;
    align-items: center;
    color: #000;
    text-decoration: none;
    transition: background-color 0.4s ease-out;
    height: 50px;
}

.item .note-title {
    flex-grow: 1;
}

.item:hover {
    background-color: rgb(233, 233, 233);
}

.item>i,
.item>div {
    padding: 0 0 0 5px;
    margin: 0 0 0 5px;
}

button {
    background-color: inherit;
    color: rgb(123, 60, 160);
    outline: none;
    font-family: inherit;
    cursor: pointer;
    font-size: 1rem;
    margin: 10px;
    border: none;
    padding: 3px;
    border: 1px solid rgb(123, 60, 160);
    border-radius: 3px;
}

a {
    font-size: 1.2rem;
    text-decoration: none;
}

.item button {
    margin: 0 10px 0 10px;
    outline: none;
    border-radius: 2px;
    cursor: pointer;
    background-color: black;
    color: red;
    padding: 0;
    border: none;
    background: none;
    height: 12px;
    width: 12px;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.form label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form input,
.form textarea {
    width: 60%;
    font-size: 1.2rem;
    font-weight: normal;
    font-family: inherit;
    outline: none;
    border: 1px solid;
    border-color: rgb(94, 200, 214);
    /* height: 22px; */
    transition: border-color 0.5s ease-out;
}

.form input:hover,
.form textarea:hover {
    border-color: rgb(123, 60, 160);
}

.buttons {
    display: flex;
    align-items: center;
}

.buttons * {
    margin: 16px;
    outline: none;
}

#note-title,
#note-content {
    margin: 10px 10px 16px 10px;
    outline: none;
}