* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    height: 90vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    flex-flow: column;
    align-items: center;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.title {
    padding-top: 16px;
    margin-bottom: 16px;
    border-bottom: 4px solid black;
}

.notes {
    overflow-y: scroll;
    width: 100%;
    flex-grow: 1;
}

.note {
    display: flex;
    align-items: center;
    transition: background-color 0.4s ease-out;
    height: 50px;
}

.note:hover {
    background-color: rgb(233, 233, 233);
}

.note a {
    padding: 5px;
    margin: 0 5px 0 5px;
}